<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SE256_cs" connectionString="Data Source=sql.neit.edu;Initial Catalog=SE256_Gaskell;Persist Security Info=True;User ID=SE256_Gaskell;Password=tgaskell"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms" >
      <forms loginUrl="~/Login.aspx" name="SE256.AUTH"/>
    </authentication>
  </system.web>
</configuration>